<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455168300450-nmsfeog7nbmpu4fa53hrpe2k52i5v0oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455168300450-nmsfeog7nbmpu4fa53hrpe2k52i5v0oj</string>
	<key>API_KEY</key>
	<string>AIzaSyBB3LGh9PLkjMZDIbdIqTwu0qAZOCgSjbg</string>
	<key>GCM_SENDER_ID</key>
	<string>455168300450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notify</string>
	<key>PROJECT_ID</key>
	<string>test-pub-sub-392102</string>
	<key>STORAGE_BUCKET</key>
	<string>test-pub-sub-392102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455168300450:ios:b1bdd7fc6f5b3c84e14efb</string>
</dict>
</plist>